:root {
  --primary-bg-color: #FAF9F6;
  --secondary-color: #E4E7F5;
  --accent-color: #5670B2;
  --accent-color-2: #AB6F75;
  --text-primary-color: #34507E;
}

body {
  margin: 0;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill="none" stroke="%23DADFE8" stroke-width="0.5"><path d="M0 90 L90 0 L180 90 L90 180 Z"/><path d="M90 0 L180 90 L270 0"/></svg>');
  background-repeat: repeat;
  background-size: 180px 180px;
  background-blend-mode: overlay;
  color: #2B2F36;
  min-height: 100vh;
  color: var(--text-primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: clamp(1.1rem, 2.5vw, 1.7rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  color: var(--accent-color-2);
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 6px;
  height: 3rem;
  padding: 0 2em;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: .875rem;
}

.primary-button {
  background-color: var(--accent-color);
  border: none;
  padding: 0.5rem 1rem;
  min-width: 210px;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  margin-left: 1rem;
  color: var(--accent-color)
}

.secondary-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

/* Sections */
/* Header */
header {
  background-color: white;
  border-bottom: 1px solid var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 54px;
  margin: 1rem;
}

.logo h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: var(--accent-color);
  opacity: .9;
  font-family: "Nunito", sans-serif;

  background: linear-gradient(90deg, #4D7CFF, #C5C1F0, #E88B75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  /* Outline */
  -webkit-text-stroke: .8px #2B2F36; /* charcoal outline */
  text-stroke: .8px #2B2F36; /* fallback */
  font-weight: 700
}

.content {
  max-width: 800px;
  margin: 0 auto;
  min-height: 400px;
  position: relative;
}

/* Hero */
.hero {
  padding: .5rem 5rem 2rem 5rem;
  text-align: center;
}

.trusted-logos {
  padding: 2rem 0;
}

.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  align-items: center;
  gap: 10rem;
  width: calc(2 * 100%);
  animation: scroll 22s linear infinite;
}

.carousel-track img {
  height: 50px;
  object-fit: contain;
  opacity: .7;
  transition: opacity .3s ease;
  flex-shrink: 0;
}

.carousel-track img:hover {
  opacity: 1;
}

/* Audience section */
.tab-section {
  padding: 4rem 1rem;
  background:
         linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(86, 112, 178, 0.6) 100%
        ), transparent;
  background-blend-mode: overlay; /* makes the gradient and pattern blend softly */
  color: #2B2F36;
  font-family: "Inter", sans-serif;
  color: var(--text-primary-color);
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tab {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--accent-color);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all .3s ease;
  color: var(--accent-color);
}

.tab.active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-color: var(--accent-color);
  border-radius: 6px;
}

.tab:hover:not(.active) {
  border-color: var(--accent-color);
  color: var(--accent-color);
  opacity: .8;
}

.tab-panel {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .4s ease, transform .4s ease;
}

.tab-panel.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.tab-panel h3 {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease, transform 2s ease; 
}

.tap-panel p {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease .1s, transform 2s ease .1s;
}

.tab-panel.active h3,
.tab-panel.active p {
  opacity: 1;
  transform: translateY(0);
}

/* Contact section */
.contact-section {
  padding: 4rem 1rem;
  background-color: #9BAAD2;
  text-align: justify;
}

footer {
  background-color: #9BAAD2;
  color: var(--accent-color);
  text-align: center;
  padding: .5rem;
  border-top: 1px solid var(--accent-color);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding-top: 2rem;
  }

  button {
    width: 100%;
    max-width: 300px;
  }

  .secondary-button {
    margin-left: 0;
  }

  .content {
    text-align: justify;
    padding: 0 1rem;
  }

  .hero {
    padding: 2rem 1rem;
    text-align: left;
    margin: 1rem;
  }

  .trusted-logos {
    padding-bottom: 4rem;
  }

  .tab-section {
    padding: 2rem 1rem;
  }

  .tabs {
    gap: 1rem;
  }

  .carousel-track {
    gap: 6rem;
  }
}
